*{
    margin: 0;
    padding: 0;

}
html{
    background: #505050;
}
.canvas{
    height: 600px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -45%);
    background-color: rgb(0, 0, 122);
    z-index: 1;
}
.button{
    border: none;
    height: 1rem;
    width: 3rem;
    position: absolute;
    margin-left: 5rem;
}
.div{
    background-color: aqua;
    display: inline-block;
    height: 600px;
    width: 800px;
    z-index: 400;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.div__box{
    background-color: black;
    height: 50px;
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.p{
    color: white;
    font-size: 1rem;
}