*{
    margin: 0;
    padding: 0;

}
html{
    background: #505050;
}
.canvas{
    height: 600px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -45%);
    background-color: rgb(0, 0, 122);
}